.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    background-color: rgb(3, 184, 169);
    /* The image used */
    /* background-image: url("./components/TruckImages/FoodTruckFestival.jpg"); */
    justify-content: center;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.Container {
  margin: 0;
  padding: 0;
  border: 0;
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.featured {
  background-color: rgba(0, 0, 0, 0.288);
  color: rgb(226, 226, 226);
  font-size: 30px;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 10px;
  height: 60px;
  width: 90%;
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

#truckImgHome {
  height: 350px;
  width: 530px;
  margin-top: 2.5%;
}

#truckMgtHome {
  height: 270px;
  width: 470px;
  margin-top: 2.5%;
}

#homeRow {
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

img {
  height: 460px;
  width: 600px;
  margin-top: 1%;
}

.imgCont {
  background-color: white;
  height: 450px;
  width: 570px;
  border-radius: 10px;
  margin-bottom: 12%;
  justify-content: center;
  display: inline-block;
}

#leftCol {
  margin-left: 105px;
}

.featuredDisc {
  font-family: 'Signika Negative', sans-serif;
  font-size: 35px;
  margin-top: 3%;
}

.col {
  padding-right: 0;
}

.footer, Footer {
  left: 0;
  bottom: 0;
  margin:0;
  width: 100%;
  color: lightgray;
  font-size: small;
  padding-top: .8%;
  
}

.signOut {
  background-color: rgb(209, 131, 131);
  border-radius: 5px;
  height: 35px;
  float: right;
  padding-bottom: 5px;
  width: 110px;
  margin-left: 900px;
  }

  .loginForm {
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    justify-content: center;
    display: inline-block;
    width: 850px;
    height: 450px;
    border-radius: 20px;
    margin-top: 5%;
    padding-top: 5%;
  }

  #loginForm2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 4%;
  }

 #registerCont {
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    justify-content: center;
    display: inline-block;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin-top: 7%;

 }

 #registerCon2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 7%;
 }

 #dropDownCont {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, #b44a7f 35%, rgb(8, 8, 8) 100%);
    border: 3px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    width: 72.5%;
    height: 80px;
    justify-content: center;
    display: inline-block;
 }

 #bluredImgHome {
    width: 1100px;
    height:500px;
 }
 
 #vibes {
    background-color: black;
    width: 1000px;
    height:400px;
    justify-content: center;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 
 #glow {
  font-size: 100px;
  font-family: 'futura';
  padding-top: 13%;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}