.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    /* background-color: rgb(3, 184, 169); */
    /* The image used */
    background-image: url("./pages/PublicRoute/placeHolder3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.Container {
  margin: 0;
  padding: 0;
  border: 0;
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.featured {
  background-color: rgba(77, 77, 77, 0.897);
  color: white;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 10px;
  height: 60px;
  width: 90%;
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

#truckImgHome {
  height: 350px;
  width: 510px;
  margin-top: 2.5%;
  margin-bottom: 2%;
}

#truckImgHome2 {
  height: 500px;
  width: 800px;
  margin-top: 2.5%;
  margin-bottom: 5%;
}

#truckMgtHome {
  height: 270px;
  width: 470px;
  margin-top: 2.5%;
}

#menuPic {
  /* border: 1px solid rgb(101, 103, 197); */
  border-radius: 5px;
  height: 370px;
  width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  border: 4px solid teal;
}

#homeRow {
  justify-content: center;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

#homeRow1 {
  padding-right: 10%;
}

img {
  height: 460px;
  width: 600px;
  margin-top: 1%;
}

.imgCont {
  background-color: white;
  height: 450px;
  width: 540px;
  border-radius: 10px;
  margin-left: 1.8%;
  margin-bottom: 3.5%;
  justify-content: center;
  display: inline-block;
}

.imgCont2 {
  background-color: white;
  /* height: 870px; */
  width: 870px;
  font-size: 60px;
  border-radius: 10px;
  margin-bottom: 12%;
  justify-content: center;
  display: inline-block;
  background-size: cover;
}

.details {
  background-color: rgba(228, 228, 190, 0.904);
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 670px;
  font-family: courier, monospace;
  border: 1px solid #b3b2b2;
  border-radius: 5px;
}

.details2 {
  color: rgb(38, 147, 197);
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 10px;
  width: 800px;
  height: 80px;
  padding-top: 2%;
}

#menuPic {
  /* border: 1px solid rgb(101, 103, 197); */
  border-radius: 5px;
  height: 370px;
  width: 570px;
  margin: auto;
}

#truckHead {
  margin-top: 0;
  /* font-family: 'Signika Negative', sans-serif; */
  list-style: none;
  border-bottom: 1px dotted rgb(167, 165, 165);
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;

}

/* #leftCol {
  margin-left: 105px;
} */

#leftCol2 {
  margin-right: 10px;
}

.featuredDisc {
  font-family: 'Signika Negative', sans-serif;
  font-size: 35px;
  color: black;
}

.col {
  padding-right: 0;
}

.footer, Footer {
  left: 0;
  bottom: 0;
  margin:0;
  width: 100%;
  color: lightgray;
  font-size: small;
  padding-top: .8%;
  
}

.signOut {
  background-color: rgb(212, 99, 99);
  border-radius: 5px;
  height: 35px;
  float: right;
  padding-bottom: 5px;
  width: 110px;
  }

#formBtn {
  background-color: rgb(212, 99, 99);
  border-radius: 5px;
  height: 30px;
  padding-bottom: 35px;
  width: 110px;
  color: white;
}

.loginForm {
    background-color: rgba(224, 224, 224, 0.767);
    color: rgb(0, 87, 128);
    justify-content: center;
    display: inline-block;
    width: 850px;
    height: 450px;
    border-radius: 20px;
    margin-top: 8%;
    margin-bottom: 17%;
    padding-top: 5%;
  }

  #loginForm2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 4%;
  }

 #registerCont {
    background-color: rgba(224, 224, 224, 0.767);
    color: rgb(0, 87, 128);
    font-family: 'Signika Negative', sans-serif;
    justify-content: center;
    display: inline-block;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin-top: 7%;
    margin-bottom: 15%;

 }

 #registerCon2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 7%;
 }

 #dropDownCont {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.575) 0%, #b44a7f9c 35%, rgba(8, 8, 8, 0.575) 100%);
    border: 3px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1%;
    padding-left: 12%;
    padding-right: 10%;
    width: 72.5%;
    height: 80px;
    justify-content: center;
    display: inline-block;
 }

 #cuisineBtn {
    background-color: rgb(110, 109, 109);
    color: white;
 }

 #cuisineBtn:hover {
    cursor: pointer;
}

 #bluredImgHome {
    width: 1100px;
    height:500px;
 }
 
 #vibes {
    /* background-color: rgba(49, 49, 49, 0.651); */
    width: 1300px;
    height:250px;
    justify-content: center;
    display: inline-block;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
 }
 
 #glow {
  font-size: 115px;
  font-family: 'futura';
  padding-top: 5%;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
