.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
    background-color: lightseagreen;
}

Container {
  margin: 0;
  padding: 0;
  border: 0;
}

.featured {
  background-color: rgba(0, 0, 0, 0.288);
  color: rgb(226, 226, 226);
  font-size: 30px;
  font-weight: 800;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 3%;
  padding-top: 10px;
  height: 60px;
  width: 96%;
  justify-content: center;
  display: inline-block;
}

img {
  height: 370px;
  width: 570px;
  margin-top: 2.5%;
}

.imgCont {
  background-color: white;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  margin-bottom: 12%;
  justify-content: center;
  display: inline-block;
}

#leftCol {
  margin-left: 75px;
}

.featuredDisc {
  font-family: 'Signika Negative', sans-serif;
  font-size: 35px;
  margin-top: 3%;
}

.col {
  padding-right: 0;
}

.footer, Footer {
  left: 0;
  bottom: 0;
  margin:0;
  width: 100%;
  color: lightgray;
  font-size: small;
  padding-top: .8%;
  
}

.signOut {
  background-color: rgb(209, 131, 131);
  border-radius: 5px;
  height: 35px;
  float: right;
  padding-bottom: 5px;
  width: 110px;
  margin-left: 1050px;
  }

  .loginForm {
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    justify-content: center;
    display: inline-block;
    width: 850px;
    height: 450px;
    border-radius: 20px;
    margin-top: 5%;
    padding-top: 5%;
  }

  #loginForm2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 4%;
  }

 #registerCont {
    background-color: rgba(0, 0, 0, 0.322);
    color: white;
    justify-content: center;
    display: inline-block;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    margin-top: 7%;

 }

 #registerCon2 {
    width: 500px;
    justify-content: center;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-top: 7%;
 }
  