/* body {
  background-color: #e9ebee;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
}

.sidebar {
  margin-top: 70px;
  background-color: #e9ebee;
} */

