.jumbotron {
    background-color: white;
    color: teal;
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

h1 {
    font-size: 40px;
    display: inline-block;
    text-align: center;
}