.jumbotron {
    justify-content: center;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.904);
    color: rgb(0, 87, 128);
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

h1 {
    font-size: 45px;
    display: inline-block;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

h4 {
    font-family: 'Signika Negative', sans-serif;
}