.jumbotron {
    background-color: white;
    color: teal;
    border-radius: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

h1 {
    font-size: 55px;
    display: inline-block;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

h4 {
    font-family: 'Signika Negative', sans-serif;
}