#contDiv{
    background-color: rgba(224, 224, 224, 0.801);
    color: rgb(0, 87, 128);
    width: 70%;
    border-radius: 30px;
    margin-top: 3%;
    justify-content: center;
    display: inline-block;
}

.details {
    background-color: rgba(190, 190, 158, 0.349);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 570px;
    font-family: courier, monospace;
    border: 1px solid #b3b2b2;
    border-radius: 5px;
}


#detailsPic {
    /* border: 1px solid rgb(101, 103, 197); */
    border-radius: 10px;
    height: 270px;
    width: 470px;
    margin-top: 2.5%;
}

#menuModal {
    height: 80vh;
}

#modalBtn {
    background-color: rgb(204, 83, 83);
    border-radius: 5px;
    height: 35px;
    padding-bottom: 30px;
    margin-left: 2%;
    width: 130px;
    border: none;
}

#menuPic {
    /* border: 1px solid rgb(101, 103, 197); */
    border-radius: 5px;
    height: 370px;
    width: 570px;
    margin: auto;
}

#header {
    margin-top: 5%;
    margin-bottom: 2%;
    text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
}

#truckHeadMain {
    margin: 0;
    font-family: courier, monospace;
    color: rgb(0, 87, 128);
    padding-top: 1%;
    font-size: 40px;
    /* text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6); */
}

#truckHead {
    margin-top: 0;
    /* font-family: 'Signika Negative', sans-serif; */
    list-style: none;
    border-bottom: 1px dotted rgb(167, 165, 165);
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  
}

#line {
    border: 1px solid teal;
}

#updateBtn {
    background-color:rgba(241, 230, 76, 0.842);
    width: 250px;
    margin-bottom: 1.3%;
    justify-content: center;
    display: inline-block;
    border: 1px solid grey;
}

#deleteBtn {
    background-color:rgba(241, 230, 76, 0.842);
    justify-content: center;
    display: inline-block;
    width: 250px;
    border: 1px solid grey;
}

#createBtn {
    float: right;
    background-color: rgb(150, 147, 147);
    width: 75px;
    border-radius: 10px;
    border: 3px solid grey;
    margin-top: 5.5%;
    margin-right: 3%;
}

#truckPlaceHolder {
    float: left;
    margin-top: 10%;
    margin-left: 2%;
}

