.ownerLanding {
    background-color: rgba(224, 224, 224, 0.801);
    color: rgb(0, 87, 128);
    height: 1000px;
    width: 900px;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    padding-top: 100px;
}

.ownerLandingBtn {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.404);
    height: 600px;
    width: 650px;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.247);
}

.btn1 {
    background-color: rgb(189, 188, 188); 
    font-size: x-large;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 0%;
    margin-bottom: 3%;
    padding: 3px;
    }

  #repairPic {
    margin-top: 2%;
  }

  .stitched {
    justify-content: center;
    width: 600px;
    padding: 20px;
    margin: auto;
    background: #dd2d2dd3;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #c9b3b7, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #ac9b9b;
    font-weight: normal;
 }